<style>
    .center {
        text-align: center;
        color: white;
    }

    .box {
        margin-left: 43%;
        color: white;
    }

    .margintop {
        margin-top: 10%;
    }

    .marginright {
        margin-right: 2%;
    }
</style>
<h1 class="center margintop">New Category has been Updated successfully.</h1>
<div class="center">
    @Html.ActionLink("HOME","categories","Category")
</div>