@model Users

<h1 id="heading">Welecome @ViewData["userName"]</h1>
<section class="content-list">
    <section class="contents">
        <img class="images" src="~/aquarium-1359988.jpg">
        <img class="images" src="~/jellyfish-1459351.jpg">
    </section>
    <section class="contents">
        <img class="images" src="~/lying-puppies-1377990.jpg">
        <img class="images" src="~/candy-cane-3-1558704.jpg">
    </section>
</section>

<article class="article">
    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quaerat fuga hic delectus saepe, veritatis aut ratione laudantium quam! Necessitatibus nisi blanditiis voluptates? Porro non excepturi facilis at iusto, distinctio voluptas labore laudantium inventore molestiae laborum, natus ut velit rem.</p>
    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quaerat fuga hic delectus saepe, veritatis aut ratione laudantium quam! Necessitatibus nisi blanditiis voluptates? Porro non excepturi facilis at iusto, distinctio voluptas labore laudantium inventore molestiae laborum, natus ut velit rem.</p>
</article>
<!-- <article class="article">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quaerat fuga hic delectus saepe, veritatis aut ratione laudantium quam! Necessitatibus nisi blanditiis voluptates? Porro non excepturi facilis at iusto, distinctio voluptas labore laudantium inventore molestiae laborum, natus ut velit rem.</p>
 </article> -->
<section class="form">
    <p class="para-new">Tell Us About your Experience..</p>
    <form>
        <input type="text" id="username" name="username" placeholder="username">
        <input type="email" id="email" name="email" placeholder="email">
        <textarea id="textareabox" name="textareabox" id="" cols="30" rows="10" placeholder="Enter here..."></textarea>
        <button id="btn" type="submit">Submit</button>
    </form>
</section>